<div class="container">
    <mat-toolbar>
        <span>Alumnos</span>
        <div class="example-spacer"></div>
        <button mat-raised-button color="primary" routerLink="/dashboard/crear-alumnos">AGREGAR</button>
    </mat-toolbar>

    <div *ngIf="listAlumnos.length > 0">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
        </mat-form-field>

        <div class="mat-elevation-z3">
            <table mat-table [dataSource]="dataSource" matSort>


                <!-- Columna de NombreyApellido -->
                <ng-container matColumnDef="nombreyapellido">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre y Apellido </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombreyapellido}} </td>
                </ng-container>

                <!-- Columna de Materia -->
                <ng-container matColumnDef="materia">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Materia </th>
                    <td mat-cell *matCellDef="let element"> {{element.materia}} </td>
                </ng-container>

                <!-- Columna de Calificacion -->
                <ng-container matColumnDef="calificacion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Calificacion </th>
                    <td mat-cell *matCellDef="let element"> {{element.calificacion}} </td>
                </ng-container>

                <!-- Columna de Profesor  -->
                <ng-container matColumnDef="profesor">
                    <th mat-header-cell *matHeaderCellDef> Profesor </th>
                    <td mat-cell *matCellDef="let element"> {{element.profesor}} </td>
                </ng-container>
                <!-- Columna de Actions  -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                        <a class="pointer" style="color: lightblue" matTooltip="Ver Usuario">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" style="color: rgb(102, 204, 242)" matTooltip="Editar Alumno">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" (click)="eliminarAlumno(i)" style="color: red" matTooltip="Eliminar Alumno">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>