table {
    width: 100%;
    margin-top: 15px;
}

th {
    width: 20%;
}

.pointer {
    cursor: pointer;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.bot {
    background-color: rgb(146, 204, 248);
}

.alum {
    background-color: rgb(182, 182, 182);
}